*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

#header{
	height: 100vh;
	background: url(images/image.png);
	background-position: center;
	
}

.container{
	margin-right: 100px;
	margin-left: 100px;

}
.logo{
	margin-top: 30px;
	width: 100px;
}
.header-text{
	max-width: 350px;
	margin-top: 140px;
}
h1{
	font-size: 34px;
}
.square{
	height: 12px;
	width: 12px;
	display: inline-block;
	background: #f67c92;
	margin: 15px 0;
}
.common-btn{
	padding: 18px 40px;
	background:  transparent;
	outline: none;
	border: 2px solid #f67c92;
	font-weight: bold;
	cursor: pointer;
}
p{
	font-size: 15px;
	line-height: 18px;
	color: #777;
}
.header-text button{
	margin-top: 20px;
	margin-bottom: 60px;
}
.line-1{
	width: 15px;
	height: 15px;
	background: #f67c92;
	display: inline-block;
}
.line-2{
	width: 80px;
	height: 1px;
	background: #f67c92;
	display: inline-block;
}
.line-3{
	width: 60px;
	height: 1px;
	background: #f67c92;
	display: inline-block;
}
.line{
	line-height: 8px
}
nav{
	background:  #f67c92;
	height: 80px;
}
nav img{
	width: 120px;
	position: absolute;
	top: 10px;
	left: 12%;
}
nav ul{
	float: right;
	margin-right: 25px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 15px;
}
nav ul li a {
	position: relative;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	padding: 5px 0;
}
nav ul li a:before{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	background: #fff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .4s linear;
}
nav ul li a:hover:before{
	transform: scaleX(1);
	transform-origin: left;
}
label #btn,
label #cancel{
	color: white;
	font-size: 30px;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;

}
@media (max-width: 600px){
	#offer{
		width: 100%;
	}
}
@media (max-width: 1118px){
	nav img{
		left: 8%;
	}
}
@media (max-width: 994px){
	nav img{
		left: 6%;
		top: 20px;
		width: 100px;
	}
	nav ul li a{
		font-size: 17px;
	}
}


@media (max-width: 860px){
	label #btn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #f67c92;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
		
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	#check:checked ~ ul{
		left: 0;
	}
	#check:checked ~ label #btn{
		display: none;
	}
	#check:checked ~ label #cancel{
		display: block;
	}
}

/*-----same styling----*/
#about, #offer{
	padding: 100px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.about-left-col{
	flex-basis: 50%;
}
.about-left-col img{
	width: 100%;
}
.about-right-col{
	flex-basis: 50%;
	text-align: right;
}
.about-text{
	max-width: 500px;
	margin-right: 100px;
	display: inline-block;
}
.about-text h2{
	margin: 50px 0 10px;
	font-size: 28px;
	font-style: italic;
}
.about-text h3{
	color: #777;
	font-size: 15px;
	font-style: italic;
}
#features{
	padding-top: 50px;
	padding-bottom: 50px;
}
.feature-row{
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.feature-col{
	flex-basis: 25%;
	text-align: center;
}
.feature-col img{
	width: 150px;
}
.feature-col h4{
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 400;
}
.feature-btn{
	margin: 80px auto 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.feature-btn .line{
	text-align: right;
	display: inline-block;
	margin-right: 25px;
}
/*-----courses-----*/
.courses{
padding: 100px 0;
}
.course-row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.course-right-col{
	flex-basis: 50%;
}
.course-right-col img{
	width: 100%;

}
.course-left-col{
	flex-basis: 50%;
}
.course-text button{
	margin: 30px 0;
}
#offer button{
	margin: 30px 0;
}
/*-----contact---*/

.contact-row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.contact-right-col,
.contact-left-col{
	flex-basis: 50%;
}
.contact-right-col img{
	width: 100%;
}
form{
	max-width: 350px;
	margin: 30px 0;
}
form input{
	width: 100%;
	padding: 12px 10px;
	margin-bottom: 5px;
	outline: none;
	box-shadow: none;
	box-sizing: border-box;
	border: 2px solid  #f67c92;
}
.btn-box{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.btn button{
	flex-basis: 48%;
	padding: 18px 0;
}

#footer{
	padding: 50px 0 30px;
}
hr{
	width: 100%;
	border: 0;
	border-top: 1px solid  #f67c92;
}
.footer-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-left-col{
	flex-basis: 50%;
	margin-top: 60px;
}
.footer-right-col{
	flex-basis: 35%;
}
.footer-links{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.link-title h4{
	color: #fab3c4;
	margin-bottom: 20px;
}
.link-title small{
	font-size: 13px;
	color: #777;  
}
.footer-info{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
}
.footer-logo img{
	width: 100px;

}
.footer-logo button{
	padding: 12px 38px;
	margin-top: 20px;
	font-size: 10px;
}
.copyright-text,
.footer-logo{
	flex-basis: 40%;
}

@media only screen and (max-width: 770px){
	
	.container{
	margin-right: 50px;
	margin-left: 50px;

}
.logo{
	margin-top: 27px;
	width: 70px;
}
.header-text{
	margin-top: 100px;
}
h1{
	font-size: 25px;
	}
	.common-btn{
	padding: 10px 16px;
	
	}
.about-left-col,.about-right-col{
	flex-basis: 100%;
	}
	.about-text{
	margin: 50px 50px 0;
	display: inline-block;
}
.about-text h2{
	font-size: 18px;
	}
.feature-col{
	flex-basis: 100%;
	margin-bottom: 20px;s
	}
.course-left-col{
	flex-basis: 100%;
	}
.course-right-col{
	flex-basis: 100%;
	margin-top: 70px;
	}
.contact-right-col,
.contact-left-col{
	flex-basis: 100%;
	}
.contact-right-col{
	margin-top: 50px;
	}
.footer-left-col, .footer-right-col{
	flex-basis: 100%;
	}
}